:root {
  --background-color: #000;
  --text-color: #fff;
  --button-background: #444;
  --button-hover-background: #333;
  --button-active-background: #222;
  --border-color: #fff;
  --font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  --font-size-large: 2rem;
  --font-size-header: 50px;
  --font-size-paragraph: 20px;
  --gradient-start: #d33aea;
  --gradient-end: #e62b43;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}

header, main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

header {
  max-width: 50vw;
}

header h1, header p {
  margin: 0;
  line-height: 1.5;
}

header h1 {
  font-size: var(--font-size-header);
  color: transparent;
  background: -webkit-linear-gradient(var(--gradient-start), var(--gradient-end));
  -webkit-background-clip: text;
  background-clip: text;
}

header p {
  font-size: var(--font-size-paragraph);
  text-align: justify;
}

button, input {
  font-size: var(--font-size-large);
  background: var(--background-color);
  border: 1px solid var(--border-color);
  padding: .5rem;
  color: var(--text-color);
  border-radius: 5px;
}

input {
  margin: 20px auto;
}

button {
  max-width: fit-content;
  cursor: pointer;
  background-color: var(--button-background);
  transition: all .1s;
  margin: 20px auto 100px;
}

button:hover {
  transform: scale(1.01);
  background-color: var(--button-hover-background);
}

button:active {
  transform: scale(.99);
  background-color: var(--button-active-background);
}

.img {
  position: relative;
  width: 1000px;
  height: 420px;
  margin: 20px auto;
  background: url('img/wampastompamix-bg.png') no-repeat center center;
  background-size: cover;
  overflow: hidden;
  background-origin: border-box;
}

.text::before {
  content: attr(data-text);
  background: linear-gradient(var(--gradient-start), var(--gradient-end));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hand {
  position: absolute;
  width: 1000px;
  height: 420px;
  background: url('img/wampastompamix-hand.png') no-repeat center center;
  background-size: cover;
  background-origin: border-box;
  z-index: 1;
  top: 0;
}
