@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

body {
  background: #000;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: transparent;
  font-size: 5vw;
  font-weight: bold;
}


.img,
.hand {
  width: 61vw;
  height: 59vh;
}
.img {
  position: relative;
  margin: 50px auto 0;
  background: url('img/wampastompamix-bg.png');
  background-size: contain;
  background-repeat: no-repeat
}

.text {
  position: absolute;
  top: 3vh;
  left: -6vw;
  width: 40vw;
  height: 22vh;
  transform: rotate(-20deg) skew(-20deg);
  text-align: center;
  background: -webkit-linear-gradient(#d33aea, #e62b43);
  background-clip: text;
  line-height: 1;
}

.hand {
  position: absolute;
  background: url('img/wampastompamix-hand.png');
  background-size: contain;
  background-repeat: no-repeat
}
