@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

body {
  background: #000;
}

.img {
  position: relative;
  width: 1000px;
  height: 420px;
  margin: 50px auto 0;
  background: url('img/wampastompamix-bg.png');
}

.text {
  position: absolute;
  top: 40px;
  left: -30px;
  width: 500px;
  height: 2em;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  color: transparent;
  font-size: 5.5rem;
  font-weight: bold;
  transform: rotate(-20deg) skew(-20deg);
  text-align: center;
  background: -webkit-linear-gradient(#d33aea, #e62b43);
  background-clip: text;
  line-height: 1;
}

.hand {
  position: absolute;
  width: 1000px;
  height: 420px;
  background: url('img/wampastompamix-hand.png');
}
